.mb-3, .my-3{
    margin-top: 50px;
}

.active{
    background: rgb(131, 222, 131);
}

.input-group-append{
    font-size: 43px;
    margin-top: -2px;
    margin-left: 10px;
    color: rgb(235, 127, 233);
    
}

.fa-trash{
    font-size: 20px;
    margin-top: 15px;
}

.box{
    margin-left: -15px;
    margin-right: -15px;
    height: 80px;
}
